.mainDivInscription{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    /* justify-content: center; */
    /* min-height: 80vh; */
    /* background-color: aquamarine; */
    height: max-content;
    background-color: rgba(255, 255, 255, 0.915);
    border-radius: 10px;
    gap: 15px;

    box-shadow: 4px 8px 16px 8px rgba(0,0,0,0.2);
}

.mainDivInscription > * {
    width: 100%;
}

.listProfilEtutdiantDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; gap: 10px;
}

.bodyProfilEtudiant{
    flex: 1;
    transition: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: 3%;
    /* border: solid 2px gray; */
    border-radius: 24px;
    /* box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); */
    min-height: 200px;

    box-shadow: 0px 3px 4px 3px #0000000F;

    /* width: 150px; */
}

.bodyProfilEtudiant:hover{
    transition: 250ms;
    transform: scale(1.05);
}

.buttonDescriptionProfil{
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(11, 115, 187);
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.bodyProfilEtudiantImage{
    width: 100px;
    height: 100px;
    border: 3px solid rgba(99, 140, 98, 0.463);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}


.nomProfileEtudiantDiv{
    display: flex;
    justify-content: center;
    font-weight:500 ;    
}



.bodyProfilEtudiantImage01{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid rgba(255, 0, 0, 0.463);
    background-color: rgba(248, 73, 73, 0.133);
    border-radius: 5px;
}

.bodyProfilEtudiantImage01:hover{
    border: 3px solid green;
    background-color:rgba(12, 207, 12, 0.237);
}


.nomProfileEtudiantSpan{
    text-align: center;
}


.profilEtudiantDetail{
    display: flex;
    justify-content: center;
}


/* Styles pour les grand ecran desktop et laptop */
@media (min-width: 769px) {
    .mainDivInscription{
        min-width: 750px;
        max-width: 800px;
    }
}



/* Styles pour les smartphones */
@media (max-width: 768px) {
    .mainDivInscription{
        min-width: 90%;
        max-width: 90%;

    box-shadow: 1px 4px 8px 2px rgba(0,0,0,0.2);

    }

    .listProfilEtutdiantDiv{
        justify-content: center;
    }
    
    .bodyProfilEtudiant{
        flex: none;
        width: 45%;
    }

    .nomProfileEtudiantSpan{
        font-size: 15px;
    }
    .signInTitle{
        font-size: 1.8rem;
    }

    legend{
        font-size: 1.1rem;
    }

    
}