.arcticleLabel1{
    font-weight: 600;
    font-size: 13px;
    color: rgb(107, 106, 106);
}

.arcticleTitre{
    font-size: 35px;
    font-weight: 700;
    color: rgb(200, 68, 68);
}

.arcticleSousTitre{
font-size: 25px;
font-weight: 400;
color: rgb(35, 32, 32);
}

.titreImageArticle{
    font-size: 16;
    font-style: italic;
    font-weight: 500;
    color: rgb(103, 92, 92);
}